:root.dark {
    --bg-primary: #0f0f0f;
    --bg-secondary: #1a1a1a;
    --bg-hover: #2a2a2a;
    --bg-active: #333333;

    --color-primary: #cdcdcd;
    --color-primary--hover: #bfbfbf;
    --color-primary--active: #a3a3a3;
    --color-secondary: #848484;

    --editor-bg-color: #181818;
    --editor-pieces-bg-color: #454442;

    --semi-transparent-bg: rgba(0, 0, 0, 70%);

    --border-color: #242424;

    --scrollbar-track-bg-color: black;
    --scrollbar-thumb-bg-color: #ababab;
    --scrollbar-thumb-bg-color--hover: #8a8a8a;
    --scrollbar-thumb-bg-color--active: #4f4f4f;
}

:root.dark ::backdrop {
    --backdrop-bg-color: rgba(0, 0, 0, 0.5);

    --scrollbar-track-bg-color: black;
    --scrollbar-thumb-bg-color: #ababab;
    --scrollbar-thumb-bg-color--hover: #8a8a8a;
    --scrollbar-thumb-bg-color--active: #4f4f4f;
}