@use "../sass/utils/" as *;

.index-page {
  @include center-flex-column(16px);
  width: 100%;
  height: 100%;

  &__content {
    @include center-flex-column(8px);
    padding: 16px;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
  }

  &__description {
    font-size: 16px;
    color: var(--color-text-secondary, #666);
  }

  &__scene-container {
    width: 100%;
    flex: 1;
    min-height: 400px;
    position: relative;
    // overflow: hidden;

    isolation: isolate;
  }
}