@use "../../sass/utils/" as *;

.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__icon {
    position: relative;
    z-index: 1;
    color: #ffffff;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
  }
}
