@use "../../sass/utils/" as *;

.three-scene {
  position: sticky;

  top: 0px; // ? Header height
  left: 0;
  width: 100%;
  height: 100svh;
  max-height: 100svh;
  overflow: hidden;

  z-index: -1;

  &__section {
    width: 100%;
    min-height: 100svh;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:nth-child(odd of .three-scene__section) {
      justify-content: flex-end;

      &>.three-scene__title {
        mix-blend-mode: color-burn;
      }
    }


    &:nth-child(1 of .three-scene__section) {
      position: absolute;
      top: 0;
    }

  }

  &__title {}
}