@use "../../sass/utils/" as *;

.three-scene {
  position: sticky;

  top: 0px; // ? Header height
  left: 0;
  width: 100%;
  max-height: 100svh;
  overflow: hidden;

  z-index: -1;

  &__section {
    width: 100%;
    min-height: 100svh;

    display: flex;
    align-items: center;
    justify-content: flex-start;


    &:nth-child(1 of .three-scene__section) {
      position: absolute;
      top: 0;
    }

  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 128px;
  }
}