@use "../../sass/utils/" as *;

.three-scene {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;



  &__overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    --_hologram-font-size: 26px;
    --_hologram-line-height: 36px;

    --_hologram-stripe-height: 2px;
    --_h-s-h-2x: calc(2*var(--_hologram-stripe-height));

    mask-image: linear-gradient(180deg,
        transparent var(--_hologram-stripe-height),
        black var(--_hologram-stripe-height),
        black var(--_h-s-h-2x),
        transparent var(--_h-s-h-2x));

    mask-repeat: repeat;
    mask-size: 100% 4px;
    animation: mask-stripes-scroll 0.4s linear infinite;
  }

  &__text-run {
    position: absolute;
    left: var(--_x);
    top: var(--_y);
    white-space: nowrap;
    font-size: var(--_hologram-font-size);
    font-family: Consolas, monospace;
    line-height: var(--_hologram-line-height);

    --_bg: linear-gradient(135deg, #00ffcc 0%, #00aaff 50%, #aa44ff 100%);

    pointer-events: none;
  }
}

@keyframes mask-stripes-scroll {
  from {
    mask-position: 0 0;
  }

  to {
    mask-position: 0 var(--_h-s-h-2x);
  }
}